<%= form_for(@question,
  :url => url,
  :method => method,
  :role => 'form') do |f| %>

  <p class='row form-group col-md-6'>
    <label>Question: </label>
    <%= f.text_area :description,
      :rows => 4,
      :autofocus => true,
      :required => true,
      :class => 'form-control' %>
  </p>

  <p class='row form-group col-md-6'>
    <%= button_tag :type => 'submit',
      :class => 'btn btn-success btn-sm' do %>
      <span class="glyphicon glyphicon-ok"></span>
      <span class="label">Save</span>
    <% end %>

    <%= link_to back, :class => 'btn btn-warning btn-sm' do %>
      <span class="glyphicon glyphicon-remove"></span>
      <span class="label">Cancel</span>
    <% end %>
  </p>
<% end %>
