<!--p class="row container col-xs-12">
  <%= link_to new_question_path, :class => 'btn btn-success btn-sm' do %>
    <span class="glyphicon glyphicon-plus"></span>
    &nbsp;
    <span>Add Question</span>
  <% end %>
</p-->
<ul class="row list-unstyled">
  <% @questions.each do |q| %>
    <li class="col-sm-6 col-lg-4">
      <section class="panel panel-default">
        <hr />
        <blockquote class="panlel-body" style="height: 60px;">
          <em class="lead"><%= q.description %></em>
        </blockquote>
        <footer class="panel-footer">
          <%= gravatar_image_tag q.user.email,
            :alt => q.user.username,
            :class => 'img-circle',
            :rel => 'tooltip',
            'data-toggle' => 'tooltip',
            'data-placement' => 'bottom',
            :title => '',
            'data-original-title' => q.user.username,
            :gravatar => { :secure => true, :size => 30 }
          %>

          <!-- tags will go here -->

          <a href="#" class="pull-right like <%= 'liked' if current_user.likes?(q) %>">
            <span class="glyphicon glyphicon-heart"></span>
          </a>

        </footer>
      </article>
    </li>
  <% end %>
</ul>
<script type="text/javascript">
  $(function () { $("[rel='tooltip']").tooltip(); });
</script>
