<ul class="list-unstyled">
  <% @questions.each do |q| %>
    <li class="col-sm-6 col-lg-4">
      <section class="panel panel-default">
        <hr />
        <%= link_to question_path(q) do %>
          <blockquote class="panlel-body" style="height: 60px;">
            <em class="lead"><%= q.description %></em>
          </blockquote>
        <% end %>
        <footer class="panel-footer">
          <a href="<%= user_path(q.user) %>">
            <%= gravatar_image_tag q.user.email,
              :alt => q.user.email,
              :style => 'border-radius: 15px;',
              :gravatar => { 
                :secure => true,
                :size => 30
              }
            %>
          </a>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
