<section class="row container">
  <p>
    <%= link_to new_question_path, :class => 'btn btn-info btn-sm' do %>
      <span class="glyphicon glyphicon-plus"></span>
      &nbsp;
      <span>Add Question</span>
    <% end %>
  </p>
</section>
<ul class="row list-unstyled">
  <% @questions.each do |q| %>
    <li class="col-sm-6 col-lg-4">
      <section class="panel panel-default">
        <hr />
        <blockquote class="panlel-body" style="height: 60px;">
          <em class="lead">
            <%= link_to q.description, question_path(q) %>
        </em>
        </blockquote>
        <footer class="panel-footer">
          <%= gravatar_image_tag q.user.email,
            :alt => q.user.username,
            :class => 'img-circle',
            :rel => 'tooltip',
            'data-toggle' => 'tooltip',
            'data-placement' => 'bottom',
            :title => '',
            'data-original-title' => q.user.username,
            :gravatar => { :secure => true, :size => 30 }
          %>

          <!-- tags will go here -->

          <% like_config = like_or_dislike(q) %>
          <%= link_to(like_config[:path], :method => like_config[:method],
            :class => "pull-right like #{like_config[:class]}") do %>
            <span class="glyphicon glyphicon-heart"></span>
          <% end %>

        </footer>
      </article>
    </li>
  <% end %>
</ul>
