/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

span.navbar-brand strong {
  font-size: 1.2em;
  color: #F37934;
}

#sign_in .fa {
  margin-right: 5px;
}

div.nav-add-question {
  padding: 9px;
}

#flash {
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.question-text {
  height: 100px;
}

a.like {
  font-size: 1.9em;
  color: pink; 
  height: 30px;
}

a.like:hover {
  color: #d9534f;
}

a.like.liked {
  color: #d9534f;
}

a.like.liked:hover {
  color: pink;
}

fieldset legend {
  border-bottom: none;
}

.select2-container ul.select2-choices {
  min-width: 300px;
  padding-top: 2px;
  border: 1px solid #e7e7e7;
}

ul.tags {
  margin-bottom: 0;
  padding-top: 4px;
}

ul.tags li {
  padding: 0;
}

